<h1>New Books </h1>
<%= form_for @book do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :author %>
  <%= f.text_field :author %>

  <%= f.label :artist %>
  <%= f.text_field :artist %>

  <%= f.label :volume %>
  <%= f.text_field :volume %> 

  <%= f.submit %>
<% end %>