<h1>New Character</h1>
<%= form_for @character do |f| %>
  <%= f.label :secretIdentity %>
  <%= f.text_field :secretIdentity %>

  <%= f.label :realName %>
  <%= f.text_field :realName %>

  <%= f.submit %>
<% end %>